<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Plexo.Client.LocalProxy.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Plexo.Client.SDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxReceivedMessageSize="2147483647" name="localhost" hostNameComparisonMode="Exact" contentTypeMapper="Goova.JsonDataContractSerializer.NewtonsoftJsonContentTypeMapper, Goova.JsonDataContractSerializer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <security mode="None"/>
        </binding>
        <binding closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxReceivedMessageSize="2147483647" name="newtonsoftJsonBinding" contentTypeMapper="Goova.JsonDataContractSerializer.NewtonsoftJsonContentTypeMapper, Goova.JsonDataContractSerializer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Plexo.Client.SDK.SecureCallback">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SecureCallback.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="newtonsoftJsonBinding" contract="Plexo.ISecureCallback" behaviorConfiguration="web">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Plexo.Client.LocalProxy.Library.PaymentGateway">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/PaymentGateway.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="localhost" contract="Plexo.IPaymentGateway" behaviorConfiguration="web">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="newtonsoftJsonBehavior" type="Goova.JsonDataContractSerializer.NewtonsoftJsonBehaviorExtension, Goova.JsonDataContractSerializer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
          <newtonsoftJsonBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
  </system.webServer>
  <applicationSettings>
    <Plexo.Client.LocalProxy.Library.Properties.Settings>
      <setting name="CallbackUrl" serializeAs="String">
        <value>http://localhost/callback</value>
        <!-- INSERT YOUR INSTRUMENT CALLBACK URL HERE -->
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="ClientName" serializeAs="String">
        <value>RedPagos</value>
      </setting>
      <setting name="CallbackType" serializeAs="String">
        <value>1</value>
        <!-- 0 - WebServices Callback, 1 - Rest Post Callback -->
      </setting>
    </Plexo.Client.LocalProxy.Library.Properties.Settings>
    <Plexo.Client.SDK.Properties.Settings>
      <setting name="Clients" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>RedPagos, RedPagos03072017</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PaymentServerUrl" serializeAs="String">
        <value>http://localhost:7732/SecurePaymentGateway.svc</value>
      </setting>
    </Plexo.Client.SDK.Properties.Settings>
  </applicationSettings>
</configuration>